<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Clase registrada con éxito!</ion-title>
  </ion-toolbar>
</ion-header>




<ion-button (click)="abrirCamara()">Abrir Cámara</ion-button>



<div class="container">
  <div *ngIf="qrData" class="datos-qr">
    <p><strong>Nombre del Profesor:</strong> {{ qrData['Nombre Profesor'] }}</p>
    <p><strong>Sala:</strong> {{ qrData['sala'] }}</p>
    <p><strong>Día:</strong> {{ qrData['Dia'] }}</p>
    <p><strong>Hora:</strong> {{ qrData['Hora'] }}</p>
  </div>


  <div *ngFor="let usuario of usuarios" class="datos-alumno">
    <p><strong>Nombre de Alumno:</strong> {{ usuario.nombre }}</p>
    <p><strong>RUT:</strong> {{ usuario.rut }}</p>
    <ng-container *ngIf="usuario.region">
      <p><strong>Región:</strong> {{ usuario.region.nombre }}</p>
    </ng-container>
    <ng-container *ngIf="usuario.comuna">
      <p><strong>Comuna:</strong> {{ usuario.comuna.nombre }}</p>
    </ng-container>
  </div>

  <div *ngIf="!qrData" class="datos-qr">
    <p>No se encontraron datos del código QR.</p>
  </div>

  <div class="hora-actual">
    <p><strong>Hora Actual:</strong> {{ horaActual }}</p>
  </div>

  <ion-buttons class="" slot="end">
    <ion-button [routerLink]="['/login']" size="small">Salir</ion-button>
  </ion-buttons>
</div>
