<ion-header [translucent]="true">
  <ion-toolbar color="primary"> <!-- Cambia el color de la barra a "primary" -->
    <ion-title>Lector QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-page">
  <div class="scanner-container" *ngIf="currentDevice">
    <zxing-scanner #scanner start="true" [device]="currentDevice" (scanSuccess)="handleQrCodeResult($event)" [formats]="formats">
    </zxing-scanner>
    <section class="results" *ngIf="qrResultString">
      <small>Result</small>
      <strong>{{ qrResultString }}</strong>
    </section>
  </div>
</ion-content>