<ion-header [translucent]="true" color="primary">
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="registration-page">
  <div class="registration-container">
    <ion-card class="registration-card">
      <ion-card-header class="registration-header">
        <ion-card-title>Registro</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="formularioRegistro" (ngSubmit)="guardar()" class="registration-form">
          <ion-item class="registration-input">
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="nombre"></ion-input>
          </ion-item>
          <div class="error-message" *ngIf="formularioRegistro.get('nombre')?.invalid && formularioRegistro.get('nombre')?.touched">
            <ion-label *ngIf="formularioRegistro.get('nombre')?.hasError('required')">Este campo es requerido.</ion-label>
            <ion-label *ngIf="formularioRegistro.get('nombre')?.hasError('minlength')">El nombre debe tener al menos 3 caracteres.</ion-label>
            <ion-label *ngIf="formularioRegistro.get('nombre')?.hasError('maxlength')">El nombre no debe exceder los 10 caracteres.</ion-label>
            <ion-label *ngIf="formularioRegistro.get('nombre')?.hasError('pattern')">El nombre solo debe contener caracteres alfanuméricos.</ion-label>
          </div>

          <ion-item class="registration-input">
            <ion-label position="floating">Apellido</ion-label>
            <ion-input formControlName="apellido"></ion-input>
          </ion-item>
          <div class="error-message" *ngIf="formularioRegistro.get('apellido')?.invalid && formularioRegistro.get('apellido')?.touched">
            <ion-label *ngIf="formularioRegistro.get('apellido')?.hasError('required')">Este campo es requerido.</ion-label>
            <ion-label *ngIf="formularioRegistro.get('apellido')?.hasError('minlength')">El apellido debe tener al menos 3 caracteres.</ion-label>
            <ion-label *ngIf="formularioRegistro.get('apellido')?.hasError('maxlength')">El apellido no debe exceder los 15 caracteres.</ion-label>
            <ion-label *ngIf="formularioRegistro.get('apellido')?.hasError('pattern')">El apellido solo debe contener caracteres alfanuméricos.</ion-label>
          </div>

          <ion-item class="registration-input">
            <ion-label position="floating">Carrera</ion-label>
            <ion-input formControlName="carrera"></ion-input>
          </ion-item>
          <div class="error-message" *ngIf="formularioRegistro.get('carrera')?.invalid && formularioRegistro.get('carrera')?.touched">
            <ion-label *ngIf="formularioRegistro.get('carrera')?.hasError('required')">Este campo es requerido.</ion-label>
            <ion-label *ngIf="formularioRegistro.get('carrera')?.hasError('minlength')">La carrera debe tener al menos 5 caracteres.</ion-label>
            <ion-label *ngIf="formularioRegistro.get('carrera')?.hasError('maxlength')">La carrera no debe exceder los 20 caracteres.</ion-label>
            <ion-label *ngIf="formularioRegistro.get('carrera')?.hasError('pattern')">La carrera solo debe contener caracteres alfanuméricos.</ion-label>
          </div>

          <ion-item class="registration-input">
            <ion-label position="floating">RUT</ion-label>
            <ion-input formControlName="rut"></ion-input>
          </ion-item>
          <div class="error-message" *ngIf="formularioRegistro.get('rut')?.invalid && formularioRegistro.get('rut')?.touched">
            <ion-label *ngIf="formularioRegistro.get('rut')?.hasError('required')">Este campo es requerido.</ion-label>
            <ion-label *ngIf="formularioRegistro.get('rut')?.hasError('invalidRut')">El RUT no tiene el formato válido.</ion-label>
          </div>

          <ion-item class="registration-input">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="password" type="password" pattern="[0-9]{4}"></ion-input>
          </ion-item>
          <div class="error-message" *ngIf="formularioRegistro.get('password')?.invalid && formularioRegistro.get('password')?.touched">
            <ion-label *ngIf="formularioRegistro.get('password')?.hasError('required')">Este campo es requerido.</ion-label>
            <ion-label *ngIf="formularioRegistro.get('password')?.hasError('pattern')">La contraseña debe ser numérica de 4 dígitos.</ion-label>
          </div>

          <ion-item class="registration-input">
            <ion-label position="floating">Confirmar contraseña</ion-label>
            <ion-input formControlName="confirmacionPassword" type="password"></ion-input>
          </ion-item>
          <div class="error-message" *ngIf="formularioRegistro.get('confirmacionPassword')?.invalid && formularioRegistro.get('confirmacionPassword')?.touched">
            <ion-label *ngIf="formularioRegistro.get('confirmacionPassword')?.hasError('required')">Este campo es requerido.</ion-label>
          </div>
          <ion-button type="submit" class="registration-button" expand="full">
            Registrarse
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>





    <ion-card> 
      

      <ion-list>
        <ion-item>
          <ion-select (ionChange)="cargarComuna()" placeholder="Seleccione region" [(ngModel)]="regionSeleccionado">
            <ion-select-option [value]="i.id" *ngFor="let i of regiones">{{i.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <ion-select placeholder="Seleccione comuna" [(ngModel)]="comunaSeleccionada">
            <ion-select-option [value]="i.id" *ngFor="let i of comunas">{{i.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      
    
  </ion-card>


  </div>
</ion-content>